<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-horizontal">

			<div class="form-group" ng-repeat="phone in phones">
				<label class="col-sm-2 control-label">{{phone.phone_type_display}}</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="phone.number">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
